<h1>Editing food group</h1>

<%= render "form", food_group: @food_group %>

<br>

<div>
  <%= link_to "Show this food group", @food_group %> |
  <%= link_to "Back to food groups", food_groups_path %>
</div>
